<style>
    .splash-bg {
        position: relative;
        background: url("../assets/img/splashbg.png") no-repeat transparent;
        background-repeat: no-repeat;
        background-size: auto;
        background-size: cover;
        height: 45%;
        z-index: 1;
        background-repeat: repeat-x;
        -webkit-animation: animatedBackground 40s linear infinite;
        animation: animatedBackground 20s linear infinite;
    }
</style>
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="splash-bg">
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.about}}</p>
      <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
    </button>
  </ion-list>

  <ion-card>
    <ion-card-header>
      Header
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>

</ion-content>